<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../polymer/polymer-element.html">
<dom-module id="abas-drawer-list">
	<template>
		<style>
			.drawerList {
				border-bottom: 1px solid black;
			}

			.title {
				color: #212121;
			}

			paper-listbox {
				padding: 0;
			}
		</style>

		<paper-item disabled class="title">[[heading]]</paper-item>

		<paper-listbox class="drawerList" on-selected-item-changed="_itemSelected">
			<slot></slot>
		</paper-listbox>
	</template>
	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class AbasDrawerList extends Polymer.Element {
			static get is() {
				return "abas-drawer-list";
			}

			static get properties() {
				return {
					heading: {
						type: String
					}
				}
			}

			_itemSelected(event) {
				//de-select the item, otherwise it does not trigger again
				event.target.selectIndex(-1);
				this.dispatchEvent(new CustomEvent("abas-drawer-menu-item-clicked", {
					bubbles: true,
					composed: true,
					detail: {}
				}));
			}
		}
		window.customElements.define(AbasDrawerList.is, AbasDrawerList);
	</script>
</dom-module>
