<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-icon-item.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-item-body.html">

<dom-module id="abas-user">
	<template>
		<style>
			.user {
				padding: 10px 20px;
				height: 120px;
				background-image: var(--abas-user-background-override, url('background-pattern.png'));
				background-size: cover;
				color: var(--accent-primary-text-color);
			}

			paper-item {
				cursor: pointer;
			}

			iron-icon.gravatar {
				--iron-icon-height: 64px;
				--iron-icon-width: 64px;
				border-radius: 50%;
				overflow: hidden;
			}

			paper-item {
				padding: 0;
			}

			[secondary] {
				color: white;
				opacity: .7;
			}
		</style>
		<div class="user">
			<iron-icon class="gravatar" src="[[userProfile.picture]]"></iron-icon>
			<paper-item on-tap="_toggleUserMenu">
				<paper-item-body two-line>
					<div>[[userProfile.nickname]]</div>
					<div secondary>[[userProfile.email]]</div>
				</paper-item-body>
				<paper-icon-button hidden="[[open]]" icon="arrow-drop-down" alt="menu">
				</paper-icon-button>
				<paper-icon-button hidden="[[!open]]" icon="arrow-drop-up" alt="menu">
				</paper-icon-button>
			</paper-item>
		</div>
	</template>
	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class AbasUser extends Polymer.Element {
			static get is() {
				return "abas-user";
			}

			static get properties() {
				return {
					userProfile: {
						type: Object
					},
					open: {
						value: false
					},
					userBarBackground: {
						type: String,
						value: "",
						observer: "_userBarBackgroundChanged"
					}
				};
			}

			_toggleUserMenu() {
				this.set("open", !this.open);
				this.dispatchEvent(new CustomEvent("abas-user-toggle-menu", {
					bubbles: true,
					composed: true
				}));
			}

			_userBarBackgroundChanged() {
				if (!!this.userBarBackground) {
					this.shadowRoot.querySelector(".user").style["background-image"] = `url(${this.userBarBackground})`;
				}
			}
		}
		customElements.define(AbasUser.is, AbasUser);
	</script>
</dom-module>