<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-icons/iron-icons.html">

<link rel="import" href="abas-user.html">
<link rel="import" href="abas-drawer-list.html">
<link rel="import" href="primary-section.html">
<link rel="import" href="secondary-section.html">

<dom-module id="abas-drawer">
	<template>
		<style>

			:host {
				--primary-section-css: {
					width: calc(100% + 17px);
					overflow-y: auto;
					overflow-x: hidden;
					max-height: calc(100vh - 140px);
					transform-origin: top;
				};

				--secondary-section-css: {
					width: calc(100% + 17px);
					overflow-y: auto;
					overflow-x: hidden;
					max-height: calc(100vh - 140px);
					transform-origin: top;
				};
			}

			.drawer-wrapper {
				overflow-y: auto;
				height: calc(100vh - 140px);
			}
		</style>

		<abas-user user-profile=[[userProfile]] user-bar-background="[[userBarBackground]]"></abas-user>
		<div class="drawer-wrapper">
			<primary-section hide-default-apps="[[hideDefaultApps]]" id="mainContent" hidden="[[userMenu]]">
				<slot name="primary"></slot>
			</primary-section>

			<secondary-section id="userContent" hidden="[[!userMenu]]">
				<slot name="secondary"></slot>
			</secondary-section>

		</div>
	</template>
	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class AbasDrawer extends Polymer.Element {
			static get is() {
				return "abas-drawer";
			}

			get mainContent() {
				if(!this._mainContent) {
					this._mainContent = this.shadowRoot.querySelector("#mainContent").shadowRoot.querySelector("#maindiv");
				}
				return this._mainContent;
			}

			get userContent() {
				if(!this._userContent) {
					this._userContent = this.shadowRoot.querySelector("#userContent").shadowRoot.querySelector("#maindiv");
				}
				return this._userContent;
			}

			static get properties() {
				return {
					userMenu: {
						type: Boolean,
						value: false
					},
					userProfile: {
						type: Object
					},
					hideDefaultApps:{
						type: Boolean
					},
					userBarBackground: {
						type: String,
						value: ""
					}
				};
			}

			connectedCallback() {
				super.connectedCallback();
				//Toggle User Menu
				this.addEventListener("abas-user-toggle-menu", async function () {
					let hideAnimation = [{
							opacity: 1,
							easing: "ease-out",
							// transform: "scaleY(1)"
						},
						{
							opacity: 0,
							// transform: "scaleY(0)"
						}
					];
					let showAnimation = [{
							opacity: 0,
							easing: "ease-out",
							// transform: "scaleY(0)"
						},
						{
							opacity: 1,
							// transform: "scaleY(1)"
						}
					];
					if (!this.userMenu) {
						let hide = this.mainContent.animate(
							hideAnimation, 200);
						await hide.finished;
						this.set("userMenu", !this.userMenu);
						this.userContent.animate(showAnimation, 200);
					} else {
						let hide = this.userContent.animate(
							hideAnimation, 200);
						await hide.finished;
						this.set("userMenu", !this.userMenu);
						this.mainContent.animate(showAnimation, 200);
					}
				});
			}
		}
		window.customElements.define(AbasDrawer.is, AbasDrawer);
	</script>
</dom-module>