<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../app-layout/app-layout.html">
<link rel="import" href="../app-layout/app-header/app-header.html">
<link rel="import" href="../app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-image/iron-image.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="abas-drawer.html">

<dom-module id="abas-app-layout">
	<template>
		<style>
			:host {
				display: block;
				--app-drawer-width: 255px;
			}

			[hidden] {
				display: none;
			}

			:host ::slotted([slot=fab-button]) {
				position: absolute;
				top: 20px;
				right: 48px;
				margin-left: 5px;
				margin-right: 5px;
				/*you may not need this background*/
				background: var(--paper-fab-background, var(--abas-app-layout-fab-background, var(--accent-color)));
			}

			:host([show-bottom-item]) ::slotted([slot=fab-button]) {
				top: 68px;
			}

			:host .toolBarContentSlot {
				display: inline-flex;
				justify-content: flex-end;
				align-items: center;
			}

			:host .toolBarContentSlot[has-fab] {
				margin-right: 70px;
			}

			:host #mainToolbar {
				background-color: var(--tool-bar-color-override, var(--dark-theme-background-color, #2a3539));
				color: #FFFFFF;
				height: 48px;
				padding: 0 0 0 16px;

				@apply --abas-app-layout-main-toolbar;

			}

			:host #mainToolbar paper-icon-button {
				--paper-icon-button-ink-color: white;
			}

			:host #bottomToolbar {
				background-color: var(--tool-bar-color-override, var(--dark-theme-background-color, #2a3539));
				color: #FFFFFF;
				height: 48px;
				top: 48px;
				@apply --abas-app-layout-bottom-item-toolbar;
			}

			:host #screenContent {
				grid-column: 2;
				grid-row: 2;
				width: 100%;
				height: calc(100vh - 48px);
				overflow: auto;
				@apply --abas-app-layout-screen-content;
			}

			:host([show-bottom-item]) #screenContent {
				margin-top: 48px;
				height: calc(100vh - 96px);
				@apply --abas-app-layout-screen-content;
			}

			div#contentFabButton {
				position: fixed;
				right: 48px;
				top: 91vh;
			}

			app-layout {
				display: grid;
				grid-template-columns: 0% 100%;
			}

			app-layout:not([force-narrow]) {
				grid-template-columns: var(--app-drawer-width) calc(100vw - var(--app-drawer-width));
			}

			app-header {
				grid-column: 2;
				grid-row: 1;
			}

			.logo{
			  width: 200px;
			  height: 24px;
			  padding-bottom:4px;
			  @apply --abas-app-layout-logo;
			}

			/* Laptop */

			@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
				div#contentFabButton {
					right: 48px;
					top: 88vh;
				}
			}
		</style>

		<app-layout id="appDrawerLayout" force-narrow$="[[!persistentDrawer]]">
			<div id="screenContent">
				<slot name="screen-content"></slot>
				<div id="contentFabButton">
					<slot name="content-fab-button"></slot>
				</div>
			</div>
			<app-header fixed slot="header">
				<app-toolbar id="mainToolbar">

					<div id="bottomToolbar" bottom-item hidden$="[[!showBottomItem]]">
						<slot id="bottomItemSlot" name="abas-app-layout-bottom-item"></slot>
					</div>
					<paper-icon-button hidden$="[[persistentDrawer]]" id="openDrawer" icon="menu" drawer-toggle on-tap="openDrawer"></paper-icon-button>

					<div>
						<slot id="homeButtonSlot" name="home-button"></slot>
					</div>

					<template is="dom-if" if="[[!logoPositionRight]]">
						<iron-image sizing="contain" alt="abas Logo" class="logo" on-click="_logoClicked" src="[[appLogo]]"></iron-image>
					</template>

					<div spacer main-title>
						<slot id="appTitleSlot" name="app-title"></slot>
					</div>

					<template is="dom-if" if="[[logoPositionRight]]">
						<iron-image sizing="contain" alt="abas Logo" class="logo" on-click="_logoClicked" src="[[appLogo]]"></iron-image>
					</template>

					<div class="toolBarContentSlot" has-fab$="[[hasFab]]">
						<slot id="toolBarContentSlot" name="toolbar-content"></slot>
					</div>

					<div>
						<slot id="fabButtonSlot" name="fab-button"></slot>
					</div>

					<div>
						<slot id="addtionalActionSlot" name="addtional-action-button"></slot>
					</div>

				</app-toolbar>
			</app-header>

			<app-drawer id="startDrawer" slot="drawer" persistent$="[[persistentDrawer]]" opened$="[[persistentDrawer]]">
				<abas-drawer hide-default-apps="[[hideDefaultApps]]" id="menu" user-profile=[[userProfile]] user-bar-background="[[userBarBackground]]">
					<div slot="primary">
						<slot name="abas-drawer-primary"></slot>
					</div>
					<div slot="secondary">
						<slot name="abas-drawer-secondary"></slot>
					</div>
				</abas-drawer>
			</app-drawer>
		</app-layout>
	</template>
	<script>
		/**
		 * `abas-app-layout`
		 * abas Application Layout
		 *
		 * @customElement
		 * @polymer
		 * @demo demo/index.html
		 */
		class AbasAppLayout extends Polymer.Element {
			static get is() {
				return "abas-app-layout";
			}

			static get properties() {
				return {
					appLogo: {
						type: String,
						value: function () {
							return this.resolveUrl("abas-logo-cloud.svg");
						},
						observer: "_appLogoChanged"
					},
					userProfile: {
						type: Object
					},
					persistentDrawer: {
						type: Boolean,
						value: false,
						reflectToAttribute: true
					},
					showBottomItem: {
						type: Boolean,
						value: false,
						reflectToAttribute: true
					},
					/**
					 * hide default applications in the primary section
					 */
					hideDefaultApps: {
						type: Boolean,
						reflectToAttribute: true
					},
					hasFab: {
						type: Boolean,
						value: false
					},
					toolBarColor: {
						type: String,
						value: "",
						observer: "_toolBarColorChanged"
					},
					userBarBackground: {
						type: String,
						value: ""
					},
					logoPositionRight: {
					  type: Boolean,
					  value: false
					}
				};
			}

			connectedCallback() {
				super.connectedCallback();
				this.$.menu.addEventListener("abas-drawer-menu-item-clicked", function (e) {
					this.closeDrawer();
				}.bind(this));

				this.$.fabButtonSlot.addEventListener("slotchange", (e) => {
					let slotElement = this.shadowRoot.querySelector("slot[name=\"fab-button\"]");
					let headerSlotNodes = slotElement.assignedNodes({ flatten: true });
					this.hasFab = headerSlotNodes.length > 0;
				});
			}

			_appLogoChanged() {
				if (!this.appLogo) {
					this.appLogo = this.resolveUrl("abas-logo-cloud.svg");
				}
			}

			_logoClicked () {
			  this.dispatchEvent(new CustomEvent("logo-clicked", {
				bubbles: true,
				composed: true
			  }));
			}

			_toolBarColorChanged() {
				if (!!this.toolBarColor) {
					this.updateStyles({
						"--tool-bar-color-override": this.toolBarColor
					});
				}
			}

			/*
			 * open the drawer of the menu
			 */
			openDrawer() {
				this.$.startDrawer.open();
			}

			/*
			 * close the drawer of the menu
			 */
			closeDrawer() {
				if (!this.persistentDrawer) {
					this.$.startDrawer.close();
				}
			}
		}
		window.customElements.define(AbasAppLayout.is, AbasAppLayout);
	</script>
</dom-module>
