<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">

<link rel="import" href="../paper-item/paper-icon-item.html">

<dom-module id="menu-item">
	<template>
		<style>
			a {
				text-decoration: none;
				color: inherit;
			}

			paper-icon-item {
				cursor: pointer;
				min-height: 48px;
				padding: 0 5px 0 15px;
				--paper-item-selected: {
					color: #1bbaa4;
					cursor: default;
				}
			}

			paper-icon-item:hover {
				background: lightgrey;
			}
		</style>

		<a href="[[href]]" target="[[target]]">
			<paper-icon-item on-tap="_tap">
				<iron-icon icon="[[icon]]" src="[[iconSrc]]" slot="item-icon"></iron-icon>
				<slot></slot>
			</paper-icon-item>
		</a>

	</template>
	<script>
		class MenuItem extends Polymer.Element {
			static get is() {
				return "menu-item"
			}

			static get properties() {
				return {
					/**
					* URL of the menu item
					**/
					href: {
						type: String
					},

					target: {
						type: String,
						value: "_blank"
					},

					/**
					* iron icon name
					**/
					icon: {
						type: String
					},
					/**
					* iron icon src
					**/
					iconSrc: {
						type: String
					}
				}
			}

			_tap() {
				this.dispatchEvent(new CustomEvent('abas-drawer-menu-item-clicked', {bubbles: true, composed: true, detail: {item: this}}));
			}

		}

		window.customElements.define(MenuItem.is, MenuItem);
	</script>
</dom-module>