<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">

<link rel="import" href="abas-drawer-list.html">
<link rel="import" href="menu-item.html">
<link rel="import" href="../paper-item/paper-icon-item.html">

<dom-module id="primary-section">
	<template>
		<style>
			:host {
				@apply --primary-section-css;
			}
		</style>

		<div id="maindiv">
			<template is="dom-if" if="[[!hideDefaultApps]]">
				<abas-drawer-list heading="Applications">
					<menu-item href="[[wfDesigner]]" icon="open-in-new"  target="_blank">Workflow Designer</menu-item>
					<menu-item href="[[wfDashboard]]" icon="open-in-new"  target="_blank">Workflow Dashboard</menu-item>
					<menu-item href="[[adminConsole]]" icon="open-in-new"  target="_blank">Admin Console</menu-item>
				</abas-drawer-list>
			</template>
			<slot></slot>
		</div>

	</template>
	<script>
		class PrimarySection extends Polymer.Element {
			static get is() {
				return "primary-section";
			}

			static get properties() {
				return {
					maindiv: {
						type: HTMLElement
					},
					userMenu: {
						type: Boolean,
						value: false
					},
					wfDesigner: {
						type: String,
						value: "../workflow/designer"
					},
					wfDashboard: {
						type: String,
						value: "../workflow/userdashboard"
					},
					adminConsole: {
						type: String,
						value: "../admin/"
					},
					/**
					* hide default apps
					*/
					hideDefaultApps: {
						type: Boolean,
						value: false
					}
				};
			}

			connectedCallback() {
				super.connectedCallback();
				this.maindiv = this.$.maindiv;
			}
		}
		window.customElements.define(PrimarySection.is, PrimarySection);
	</script>
</dom-module>