<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-item/paper-icon-item.html">
<link rel="import" href="abas-drawer-list.html">
<link rel="import" href="menu-item.html">

<dom-module id="secondary-section">
	<template>
		<style>
			:host {
				@apply --secondary-section-css;
			}

			a {
				text-decoration: none;
				color: inherit;
			}

			paper-icon-item {
				--paper-item-selected: {
					color: #1bbaa4;
					cursor: default;
				}
			}

			paper-icon-item:hover {
				background: lightgrey;
			}

			paper-item, paper-icon-item {
				cursor: pointer;
				min-height: 48px;
				padding: 0 5px 0 15px;
			}

		</style>


		<div id="maindiv">
			<abas-drawer-list heading="Actions">
				<menu-item icon="settings" on-tap="_settingsClicked">Settings</menu-item>
				<menu-item icon="exit-to-app" on-tap="_logoutClicked">Logout</menu-item>
			</abas-drawer-list>
			<slot></slot>
		</div>


	</template>
	<script>
		class SecondarySection extends Polymer.Element {
			static get is() {
				return "secondary-section";
			}

			static get properties() {
				return {
					userMenu: {
						type: Boolean,
						value: false
					}
				};
			}

			connectedCallback() {
				super.connectedCallback();
				this.maindiv = this.$.maindiv;
			}

			_logoutClicked(e) {
				e.stopPropagation();
				this.dispatchEvent(new CustomEvent("app-logout", {bubbles: true, composed: true}));
			}

			_settingsClicked(e) {
				e.stopPropagation();
				this.dispatchEvent(new CustomEvent("app-settings", {bubbles: true, composed: true}));
			}
		}
		window.customElements.define(SecondarySection.is, SecondarySection);
	</script>
</dom-module>
