<link rel="import" href="../../polymer/polymer-element.html">

<link rel="import" href="../../app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../app-layout/app-header/app-header.html">
<link rel="import" href="../../app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../../iron-image/iron-image.html">
<link rel="import" href="../../paper-fab/paper-fab.html">
<link rel="import" href="../../paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../paper-item/paper-item.html">

<link rel="import" href="../abas-app-layout.html">

<dom-module id="my-app-layout">
    <template>
        <style>
            :host {
                display: block;
            }

            #gridLayout {
                display: grid;

                grid-template-columns: repeat(4, 1fr);
                grid-gap: 2em;
            }

            #gridLayout div {
                height: 100px;
                border: 1px solid red;
            }

            [slot="toolbar-content"] {
                padding-right: 10px;
            }
        </style>

        <abas-app-layout persistent-drawer="[[_forceNarrow]]"
                         show-bottom-item
                         user-profile='{"username": "Akshay", "email": "akshaymehta@abas-usa.com"}'>


            <div slot="abas-app-layout-bottom-item">
                <paper-icon-button icon="save" id="save" title="ok"></paper-icon-button>
                <paper-icon-button icon="cancel" id="cancel" title="cancel"></paper-icon-button>
                <paper-icon-button icon="action" id="action" title="action"></paper-icon-button>
                <paper-icon-button icon="new" id="new" title="add"></paper-icon-button>
                <paper-icon-button icon="view" id="view"></paper-icon-button>
                <paper-icon-button icon="edit" id="edit"></paper-icon-button>
                <paper-icon-button icon="copy" id="copy"></paper-icon-button>
                <paper-icon-button icon="run" id="run"></paper-icon-button>
            </div>


            <span slot="app-title">My Precious App</span>

            <div slot="toolbar-content">1</div>
            <div slot="toolbar-content">2</div>
            <div slot="toolbar-content">3</div>
            <div slot="toolbar-content">4</div>
            <div slot="toolbar-content">5</div>
            <div slot="toolbar-content">6</div>
            <div slot="toolbar-content">7</div>

            <paper-fab slot="fab-button" icon="save"></paper-fab>
            <paper-icon-button slot="addtional-action-button" icon="apps"></paper-icon-button>

            <h1 slot="abas-drawer-primary">primary</h1>
            <div slot="abas-drawer-secondary">
                <paper-item>
                    <paper-toggle-button id="alwaysShow" checked="{{_forceNarrow}}">Always Show</paper-toggle-button>
                </paper-item>
            </div>

            <div slot="screen-content">
                <div id="gridLayout">
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <div>My Precious Content</div>
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                    <!--<div>My Precious Content</div>-->
                </div>
            </div>

        </abas-app-layout>

    </template>

    <script>
        /**
         * `my-app-layout`
         * abas Application Layout
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class MyAppLayout extends Polymer.Element {
            static get is() {
                return 'my-app-layout';
            }

            static get properties() {
                return {};
            }
        }

        window.customElements.define(MyAppLayout.is, MyAppLayout);
    </script>
</dom-module>